.main-section {
  background-color: #FAF7F2;
  padding: 5rem 0;
}

h3 {
  margin-top: 1rem;
}

.main-section .stylish {
  font-family: Satisfy;
  font-weight: 200;
  font-size: 1.5rem;
  filter: contrast(90%);
}

@media (max-width: 430px){
  .main-container {
  width: 75%;
  }

  .main-section h3 {
    width: 73%;
    margin: 0 auto;
    font-size: 2rem;
  }
}