.header {
    background-color: #CE2829;;
}
.header-container{
    align-items: center;
}

.header-container .logo {
    margin: 2rem 0;
    height: 5em;
    width: 21rem;
}

.header-nav {
    margin-bottom: 1.5rem;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
}

.header-nav span{
    font-family: 'Roboto Condensed';
    font-weight: 300;
}

.header-nav span:last-child{
    font-weight: bold;
}

.form-container {
    padding: 2rem 0;
    row-gap: 3rem;
}

.form-container p {
    font-family: "Barlow";
    align-items: center;
    font-size: 0.88rem;
    line-height: 1.7rem;
}

.pizzaDetail {
    font-family: "Barlow";
}

.pizzaDetail p:first-child{
    flex-grow: 2;
    font-weight: bold;
    font-size: 1.7rem;
}
.pizzaDetail p:nth-child(2) {
    flex-grow: 1;
}

.checkboxes {
    width: 30%;
    padding: 1rem;
    padding-left: 0;
    padding-top: 0;
    font-weight: 500;
    font-family: "Roboto Condensed";
}

#order-note {
    padding: 1rem 1rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 1px solid #cac9c9;
    border-radius: 4px;
    box-sizing: border-box;
}

.finalize {
    border-top: 1px solid #cac9c9;
    display: flex;
    align-items: start;
    padding-top: 1.5rem;
    gap: 4rem;
}

.increase {
    display: flex;
    width: 40%;
    align-items: center; 
}

.size-33 {
    width: 33%;
    height: 3rem;
    border: 1px solid #FDC913;
    background-color: #FDC913;
    
}

.increase button:first-child {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.increase button:last-child {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.increase h4 { 
    background-color: white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.orderSum {
    border: 1px solid #cac9c9;
    border-bottom: 0;
    border-radius: 0.3rem;
    padding: 2.5rem;
}

.submit {
    height: 3rem;
    border: 1px solid #FDC913;
    background-color: #FDC913;
    border-radius: 0.3rem;
}