@import-normalize;
/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}
/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

body {  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}
h1,h2,h3,h4,p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.color-yellow {
  color: #FDC913;
}
.color-lgrey {
  color: #5F5F5F;
}
.color-grey {
  color: #292929;
}
.color-red {
  color: #CE2829;
}
.color-bej {
  color: #FAF7F2;
}
.color-white {
  color: white;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-justify-sb {
  display: flex;
  justify-content: space-between;
}
.container-size {
  width: 500px;
  margin: 0 auto;
}
.row-gap-1rem {
  row-gap: 1rem;
}

.width-100 {
  width: 100%;
}

h1 {
  font-family: 'Roboto Condensed';
  font-weight: 200;
  font-size: 5rem;
  line-height: 1.1;
}

h4 {
  font-family: 'Barlow';
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 110%;

}

button {
  border: 2px solid transparent;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: 'Barlow';
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}