@import-normalize;
/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}
/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

body {  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;}